<div class="fw">
<!-- HEADER -->
    <div class="hdr-bg"></div>
    <div class="hdr fw-vp">
        <div class="hdr-brand">
            <a data-track-content data-content-name="Header-multi level" data-content-piece="h_link_logo_1" [routerLink]="['/home']"></a>
        </div>
        <div class="hdr-brand login-utility" style="float: right;">
            <span style="padding-right: 5px;">Welcome {{currentUser.firstName}} |</span>
            <span style="padding-right: 5px;"><a [routerLink]="['/profile']">Profile</a> |</span>
            <span><a [routerLink]="['/login']">Logout</a></span>
        </div>
    </div>
    <!-- ** TOP NAVBAR ** -->
</div>