<div class="col-md-12">
    <div class="col-md-4" style="margin: 0 auto;float:none;">
        <h2 style="text-align: center;">Bentley Car Notes</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div data-track-content data-content-name="Form" data-content-piece="form_input_opt_1" class="form-group vp-form-text vp-focus">
              <div class="vp-form-bdr">
                <label class="control-label" for="emailAddress">Email Address</label>
                <input type="text" id="vpInput" formControlName="emailAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" />
                <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                  <div *ngIf="f.emailAddress.errors.required">Email Address is required</div>
                </div>
              </div>
            </div>
            <!-- Password - Validation  -->
            <div data-track-content data-content-name="Form" data-content-piece="form_input_pword_1" class="form-group vp-form-text form-pw vp-form-confirm vp-focus">
              <div class="vp-form-bdr">
                <label class="control-label" for="vpPassword">Password</label>
                <div class="inner-addon right-addon">
                    <input type="password" formControlName="password" id="vpPassword" class="form-control" name="vpPassword" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-sm btn-primary">Login</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a [routerLink]="['/register']" class="btn btn-link" style="width:auto;">First-time user</a>
                <a href="javascript:void(0);" class="btn btn-link" style="width:auto;">Forgot password</a>
            </div>
        </form>
    </div>
</div>