<header></header>
<div class="fw">
	<!--
	<div class="card">
		<iframe width="100%" height="800" src="http://netamp.rinicom.com/d/000000019/bent_1_server_stat?refresh=1s&orgId=1"></iframe>
	</div>
-->
    <devices></devices>
    <dealerships></dealerships>
</div>

<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}} {{user.emailAddress}} {{user.bentleyRoles}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
