<!-- Editable card/table -->
<div class="card">
  <h2>{{currentUser.firstName}} {{currentUser.lastName}} {{currentUser.bentleyRoles}}</h2>
  <p>1234 Fancy Lane Some Town, UK 12345<br>+44 (123) 456 7890</p>
  <h3>My Car Notes</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
          <button class="btn-primary btn btn-sm" (click)="add()">ADD</button>
      </span>
      <div>
        <div class="card-item-container" *ngFor="let person of personList; let id = index">
          <div class="bentley-vin-label">
            My Bentley VIN: <span contenteditable="false" (keyup)="changeValue(id, 'vin', $event)">{{person.vin}}</span>
            <button type="button" mdbBtn color="danger" rounded="true" class="btn btn-sm btn-default float-right card-btn" (click)="remove(id)">Remove</button> <a href="" class="float-right">Report a problem</a>
          </div>
          <div class="card-item">
            <h4 class="card-info-label">Features</h4>
            <div class="card-info">
              <ul>
                <li>S/N: <span contenteditable="true" (keyup)="changeValue(id, 'serialNumber', $event)">{{person.serialNumber}}</span></li>
                <li>Displacement: <span contenteditable="true" (keyup)="changeValue(id, 'ssid', $event)">{{person.ssid}}</span></li>
                <li>Drive Train: <span contenteditable="true" (keyup)="changeValue(id, 'password', $event)">{{person.password}}</span></li>
              </ul>
            </div>
          </div>

          <div class="card-item">
            <h4 class="card-info-label">Engine Service</h4>
            <div class="card-info">
              <ul>
                <li>Engine Type: <span contenteditable="true" (keyup)="changeValue(id, 'downloadSpeed', $event)">{{person.downloadSpeed}}</span></li>
                <li>No. of Cylinders: <span contenteditable="false" (keyup)="changeValue(id, 'uploadSpeed', $event)">{{person.uploadSpeed}}</span></li>
                <li>Insurance: <span contenteditable="false" (keyup)="changeValue(id, 'serviceExpires', $event)">{{person.serviceExpires}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--
      <table class="vp-table table table-bordered table-responsive-md table-striped">
        <tr>
          <th>VIN</th>
          <th>Person Name</th>
          <th>Age</th>
          <th class="text-left">Company Name</th>
          <th class="text-left">Country</th>
          <th class="text-left">City</th>
          <th class="text-left">Remove</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td contenteditable="true" (keyup)="changeValue(id, 'vin', $event)" (blur)="updateList(id, 'vin', $event)">{{person.vin}}</td>
          <td contenteditable="true" (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)">{{person.name}}</td>
          <td contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</td>
          <td class="text-left" contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</td>
          <td class="text-left" contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</td>
          <td class="text-left" contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="btn btn-sm btn-primary" (click)="remove(id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    -->
    </div>
  </div>
</div>
<!-- Editable card/table -->